/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  margin: 10px;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu {
  background-color: black; /* Color de fondo negro */
  color: white; /* Color de texto blanco */
  padding: 10px; /* Agregar espacio interno para mejorar la apariencia */
}

.menu__header {
  margin-bottom: 20px; /* Agregar un margen inferior para separar el encabezado */
}

.menu__title {
  margin: 0; /* Eliminar el margen predeterminado */
}

.menu__list {
  list-style-type: none; /* Eliminar viñetas de la lista */
  padding: 0; /* Eliminar el relleno predeterminado */
  display: flex; /* Utilizar flexbox para alinear horizontalmente los elementos */
  justify-content: center; /* Centrar horizontalmente los elementos */
}

.menu__list__item {
  margin: 0 10px; /* Agregar márgenes horizontales para separar los elementos */
}

.menu__list__item a {
  text-decoration: none; /* Eliminar el subrayado de los enlaces */
  color: white; /* Color de texto blanco para los enlaces */
  font-weight: bold; /* Hacer el texto en negrita */
  transition: color 0.3s; /* Agregar una transición suave para el cambio de color */
}

.menu__list__item a:hover {
  color: #CCCCCC; /* Cambiar el color del texto al pasar el cursor */
}


/*Sección Title*/

/* CSS para el contenedor principal */
section.title {
    margin-top: 20px;
  display: flex; /* Convierte el contenedor en un contenedor flexible */
}

/* CSS para el div de la imagen */
.titleImgPerfil {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; /* Centra horizontalmente el contenido */
}

/* CSS para la imagen dentro del div */
.title__profile {
  max-width: 40%; /* La imagen nunca será más ancha que el contenedor */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  border-radius: 50%;
}
/* CSS para el div de los datos */
.titleDatos {
  width: 50%;
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center; /* Centra verticalmente el contenido */
}
.skills__line {
  display: flex; /* Utilizamos flexbox para alinear los elementos en una línea */
  justify-content: space-between; /* Esto distribuirá los elementos de manera uniforme a lo largo del contenedor */
  align-items: center; /* Esto centrará verticalmente los elementos */
}

.skills__box {
  text-align: center; /* Centrar el texto */
}
.hobbies__line {
  display: flex; /* Utilizamos flexbox para alinear los elementos en una línea */
  justify-content: space-between; /* Esto distribuirá los elementos de manera uniforme a lo largo del contenedor */
  align-items: center; /* Esto centrará verticalmente los elementos */
}

.hobbies__box {
  text-align: center; /* Centrar el texto */
}
.academic__courses__item__img img {
  max-width: 300px; /* Establece el ancho máximo de la imagen */
  height: auto; /* Mantén la proporción de aspecto */
}
.academic__courses__box {
  text-align: center; /* Centrar horizontalmente los elementos */
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.experience__section__title {
  text-align: left; /* Alinear el texto hacia la izquierda */
  margin-bottom: 20px; /* Agregar un margen inferior para separar el título */
}

.experience__box {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.experience__img {
  width: 500px; /* Cambia el valor del ancho según tus preferencias */
  height: auto; /* Mantén la proporción de aspecto */
  margin-bottom: 10px; /* Agregar un margen inferior para separar la imagen del texto */
}

/*Sección About*/

/* section.about{

} */

/*Sección Hobbies*/

/* section.hobbies{
    
} */

/* Experiencia Académica*/

/* section.academic{

} */

/* experiencia*/

/* section.experience{

} */

/*Contacto*/

/* section.formcontato{

} */

/*footeer*/

/* section.footer{
   
} */

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
  /* Menú */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sección sobre mi*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
